@media print {
  @page {
    size: auto; /* Set the page size to letter */
    margin: 0 !important;    /* Remove default margins */
    color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }

  body {
    margin: 0; /* Remove margins from the body */
  }

  .is-not-first {
    margin-top: "0px";
  }

  .printable-content {
    width: 100vw;  /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    display: flex;
    justify-content: center;
    align-items: center;
  }
}